<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Section</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="main.js" defer></script>
</head>
<body>

        <div class="container">
            <div class="comments">
                <h2>Comments</h2>
                <!--one comment-->
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <!--more comments-->
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <div class="comment">
                    <img src="https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="avatar">
                    <div class="comment-card">
                        <small class="author"><i class="far fa-user"></i> John Doe</small>
                        <small class="date"><i class="far fa-clock"></i> 15 Sep 2021</small>
                        <div class="comment-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo rerum aliquam laboriosam, deserunt reiciendis aperiam, sint officia veritatis vero dolor eaque, accusantium neque explicabo aliquid?</div>
                        <span class="reactions">25 <i class="fas fa-thumbs-up like"></i>&nbsp;3 <i class="fas fa-thumbs-down dislike"></i></span>
                    </div>
                </div>
                <!---->
            </div>
            <div class="form">
                <h2>Leave a comment</h2>
                <form action="">
                    <textarea class="form-input"  name="message" placeholder="message" cols="30" rows="10"></textarea>
                    <input class="form-input"  type="text" placeholder="name">
                    <input class="form-input" type="email" name="email" placeholder="email"> 
                    <input class="form-btn form-input"  type="submit" value="Comment">
                </form>
            </div>
        </div>

    
</body>
</html>